/* font-family: 'Marvel', sans-serif; */

/* Set Your Own Margin & Padding */
h2, h3, p {
	font-family: 'Marvel', sans-serif;
	font-weight: 400;
	margin: 0;
}

h1 {
	font-family: 'Marvel', sans-serif;
	font-weight: 400;
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1 {
	background: lightgrey;
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}
.color-2 {
	background: midnightblue;
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.color-3 {
	background: goldenrod;
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}
img {
	height: 50px;
	width: 50px;
}

.imagery-1 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.imagery-2 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.imagery-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.pattern-1 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.pattern-2 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}




/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}